@model WebApp.ViewModels.UserViewModel
@{
    ViewData["Title"] = "Index";
    Layout = "~/Views/Member/_MemberLayout.cshtml";
}

<h3 class="text-center">Kullanıcı Bilgileri</h3>
<div class="col-sm-4">
    <table class="table table-bordered table-striped">
        <tr>
            <td>Kullanıcı Adı</td>
            <td>@Model.UserName</td>
        </tr>
        <tr>
            <td>İsim</td>
            <td>@Model.FirstName</td>
        </tr>
        <tr>
            <td>Soyisim</td>
            <td>@Model.Lastname</td>
        </tr>
        <tr>
            <td>E-posta</td>
            <td>@Model.Email</td>
        </tr>
    </table>
</div>

<script src="~/lib/signalr/dist/browser/signalr.js"></script>
<script src="~/js/SignalRUserCount.js"></script>